div#form-div {

    width: 48%;
    /*position: relative;*/
    float: left !important;

}

div#response-div{

     width: 48% !important;
     /*position: relative;*/
     float: right !important;
     max-height: 500px;
     overflow-y: auto;

}

div#loading {
    width: 35px;
    height: 35px;
    display: none;
    background: url(ajax-loader.gif) no-repeat;
    cursor: wait;
    float: right !important;
    text-align: center;
    margin-right: 20%;
    margin-top: 10%;
}

th {
    background: #808080;

}

th, td {
    padding: 10px;

}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}
